<mat-card class="auth">
    <mat-card-header>
        <mat-card-title>LOGIN</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" #form=ngForm class="form-main">
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Enter email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter password" formControlName="password">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()" type="button">Login</button>
    </mat-card-actions>
</mat-card>